@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Manrope,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.875rem; 
  line-height: 2.25rem; 
  font-weight: 600;
}
h3 {
  font-size: 1.5rem; 
  line-height: 2rem; 
  font-weight: 600;
}
ul {
  list-style-type: disc;
  margin-left: 24px;
}
ol {
  list-style-type: decimal;
  margin-left: 24px;
}
p, h1, h2, h3, ul, ol, a{
  margin-top: 8px;
}
.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.ql-toolbar.ql-snow {
  display: flex;
  justify-content: space-between;
  background-color: #404040;
  border: none !important;
  border-radius: 6px;
  padding: 16px 10px !important;
}

.ql-picker-label{
  color: white !important;
}

.ql-snow .ql-stroke {
  stroke: white !important;
}

.ql-container.ql-snow{
  height: 20rem;
  margin-top: 10px;
  background-color: #404040;
  border: none !important;
  border-radius: 6px;
  padding: 16px 10px !important;
}

.ql-editor{
  color: white;
}

.ql-formats {
  border-right: 1px solid #eee;
  padding-right: 2rem;
  margin-right: 0px !important;
  button{
    margin-right: 4px;
  }
  .ql-active {
    border-radius: 6px;
    background-color: #302f0c !important;
    .ql-stroke{
      stroke: #e8e34f !important;
    }
  }
}

.ql-toolbar .ql-formats:last-child {
  border-right: none;
  padding-right: 0;
}
